@media (max-width: 435px){
  .tuning-area div {
    height: 1.35em;
  }
}


@media (max-width: 400px){
  .custom-number-input input {
    font-weight: 200!important;
    font-size: 1.4em!important;
    width: 35px!important;
    height: 35px!important;
  }
  .custom-number-input {
    width: 130px!important;
  }
  .popup{
    width: 97%!important;
  }

  .menu {
    --aside-width: 97%;
  }
  .italic-checkbox,
  .uppercase-checkbox {
    width: 35px!important;
    height: 35px!important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  ::-webkit-scrollbar-button {
    display: none!important;
  }

  ::-webkit-scrollbar {
    margin: 10px 0;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--highlight-color);
  }

  .size-range,
  .bold-range {
    -webkit-appearance: none;
    width: 90%;
    background: transparent;
    height: 4px;
    background-color: #BEBEBE;
    border-radius: 9px;
  }

  .size-range:focus,
  .bold-range:focus {
    outline: none;
  }
  
  .size-range::-webkit-slider-thumb,
  .bold-range::-webkit-slider-thumb {
    background-color: var(--highlight-color);
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
  }
}



/* ------------------------------------*\
    # Base
\*------------------------------------*/

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
  touch-action: none;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: "Arial";
}


.italic-checkbox,
.uppercase-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

main {
  background-color: var(--main-background);
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}




/* ------------------------------------*\
    # Navigation bar
\*------------------------------------*/
.menu {
  color: cadetblue;
  font-size: 1.22em;
  background-color: var(--main-color);
  transform: translateX(-100%);
  overflow-y: auto;
  display: inline-block;
  position: fixed;
  z-index: 5;
  overflow-x: hidden;
  width: var(--aside-width);
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  transition: all 0.1s cubic-bezier(0.29, 0.01, 0.91, 1);
}

.menu--visible {
  transform: translateX(0);
}


.menu .close_btn {
  position: relative;
}

.menu span,
label, 
.drop-down-container:first-child:not('.arrow-down'),
.menu h3,
.menu h1,
.popup__header,
.color-default-button,
.contact__label,
.popup a {
  mix-blend-mode: difference;
  cursor: default;
}


.menu>* {
  margin: 10px;
}

.menu #top {
  display: flex;
  justify-content: space-between;
}


.section {
  display: flex;
}

.section h3 {
  margin: 10px;
}

.section hr {
  border: none;
  background-color: var(--highlight-color);
  transition: all 0.5s ease-in-out;
  height: 2px;
  width: 80%;
  size: 4px;
  align-self: center;
  margin: 0;
}

.grid-container-control {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(140px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-items: start;
  align-items: center;
  margin-bottom: 40px;
}

.grid-container-theme {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-row-gap: 20px;
  align-items: center;
}




.current-font:hover + .drop-menu--fonts,
.drop-menu--fonts:hover {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
  z-index: 1;
}



.drop-menu--fonts {
  background-color: var(--subMenu-backColor);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20%;
  width: auto;
  list-style-type: none;
  color: var(--subMenu-textColor);
  transition: opacity 0.5s ease;
  padding: 10px 8px 0 8px;
}


.current-font {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.drop-down-container {
  position: relative;
}


.drop-menu--fonts li {
  transition: color 0.5s ease-in-out;
  white-space: nowrap;
  margin-bottom: 10px;
}


.drop-menu--fonts li:hover {
  color: var(--hover-subMenu-textColor);
}



/* ------------------------------------*\
    # Custom number input
\*------------------------------------*/

.input__time-arrow-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 26px 17px 0;
  border-color: transparent var(--highlight-color) transparent transparent;
  -webkit-transform:rotate(360deg)
}

.input__time-arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 26px;
  border-color: transparent transparent transparent var(--highlight-color);
  -webkit-transform:rotate(360deg)
}

.custom-number-input {
  transition: all 0.5s ease-in-out;
  display: flex;
  padding: 10px;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--secondary-color);
  align-items: center;
}

.duration-input,
.freq-input {
  color: var(--customNumberInput-text);
  background-color: inherit;
  text-align: center;
  width: 55px;
  height: 25px;
  margin: 0 8px 0 8px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.custom-number-input input:onfocus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline:none;
}



/* ------------------------------------*\
    # Custom button
\*------------------------------------*/

.button {
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 50px;
  color: var(--highlight-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.button:hover {
  cursor: pointer;
}



/* ------------------------------------*\
    # Theme settings section
\*------------------------------------*/

.secondary-color-option,
.primary-color-option {
  margin-top: 5px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  float: left;
  position: relative;
}

.secondary-color-option:hover,
.primary-color-option:hover {
  cursor: pointer;
}

.checked:after, 
.secondary-color-option:hover:after,
.primary-color-option:hover:after {
    content: '';
    top: -1px;
    position: absolute;
    display: block;
    left: 7px;
    width: 11px;
    height: 23px;
    border: solid #000;
    border-radius: 0 0 5px 0;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}


.color-selection-primary div:nth-child(1){background-color: #1B1C1F}
.color-selection-primary div:nth-child(2){background-color: white}

.color-selection-accent div:nth-child(1){background-color: #C1392B}
.color-selection-accent div:nth-child(2){background-color: #DDDDDD}
.color-selection-accent div:nth-child(3){background-color: #F39C11}
.color-selection-accent div:nth-child(4){background-color: #DCD427}
.color-selection-accent div:nth-child(5){background-color: #087099}
.color-selection-accent div:nth-child(6){background-color: #2D2E31}



/* ------------------------------------*\
    # Timer section
\*------------------------------------*/


.timer {
  right: 2%;
  top: 2%;
  position: absolute;
}






/* ------------------------------------*\
    # Game control section
\*------------------------------------*/

.main-text {
  font-display: swap;
  word-break: break-all;
  width: 100%;
  text-align: center;
  font-family: var(--main-text--family);
  text-transform: var(--main-text--transform);
  font-style: var(--main-text--style);
  font-size: var(--main-text--size);
  font-weight: var(--main-text--weight);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-control {
  background-color: var(--main-color);
  bottom: 0;
  padding: 25px 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}


.game-control i:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 7vmax;
  color: var(--highlight-color);
}



.button-pause:hover, 
.button-restart:hover,
.button-play:hover {
  opacity: 1;
  cursor: pointer;
}

.button-pause, 
.button-restart,
.button-play {
  width: 7vmax;
  height: 7vmax;
  transition: all 0.4s;
  z-index: -1;
  opacity: 0;
}

.button-pause--visible, 
.button-restart--visible,
.button-play--visible {
  z-index: 1;
  opacity: 0.4;
}

.button-restart {
  position: relative;
}

.button-pause {
  position: relative;
  margin-right: 7vmax;
}

.button-play {
  position: absolute;
}




/* ------------------------------------*\
    # Noutifications
\*------------------------------------*/

.noutification {
  position: absolute;
  left: 50%;
  top: 0%;
  opacity: 0;
  transform: translate(-50%, -100%);
  background-color: var(--secondary-color);
  border-radius: 0 0 40px 40px;
  width: 250px;
  padding: 15px 0;
  transition: opacity 0.4s, transform 0.4s;
  font-weight: 500;
  color: darkcyan;
  text-align: center;
  text-transform: uppercase;
}

.noutification--visible {
   transform: translate(-50%, 0);
   opacity: 1;
}






.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.social a {
  text-decoration: none;
}

.social a:before {
  color: var(--highlight-color);
  font-size: 1.6em;
}



/* ------------------------------------*\
    # Usocial customization
\*------------------------------------*/

.uSocial-Share {
  width: 100%!important;
    margin-bottom: 40px!important;
}

.uSocial-Share {
  width: 100%!important;
    margin-bottom: 40px!important;
}
.uSocial-Share .uscl-bar.uscl-horizontal{
  width: 100%!important;
}
.uSocial-Share .uscl-bar.uscl-absolute .uscl-list{
  width: 100%!important;
  display: flex!important;
  flex-wrap: wrap;
  align-items: center!important;
  justify-content: space-around!important;
}
.uscl-item span{
  background-color: inherit!important;
}

.ico_uscl-twi:before,
.ico_uscl-vk:before,
.ico_uscl-telegram:before,
.ico_uscl-fb:before {
  color: var(--highlight-color);
}

.colorpicker-opener {
  height: 30px;
  width: 30px;
  background-color: var(--main-background);
  border-radius: 30px;
  border: 2px solid var(--highlight-color);
}




/* ------------------------------------*\
    # Close button
\*------------------------------------*/
.close_btn {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close_btn:hover {
  opacity: 1;
  cursor: pointer;
}
.close_btn:before, .close_btn:after {
  position: absolute;
  content: ' ';
  height: 33px;
  left: 50%;
  width: 2px;
  background-color: var(--highlight-color);
}
.close_btn:before {
  transform: rotate(45deg) translateX(-50%);
}
.close_btn:after {
  transform: rotate(-45deg) translateX(-50%);
}




/* ------------------------------------*\
    # Menu button
\*------------------------------------*/
.menu--btn {
  position: relative;
  top: 2%;
  left: 2%;
  padding-left: 1.25em;
}
.menu--btn:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 2em;
  height: 0.25em;
  border-top: 0.750em double var(--highlight-color);
  border-bottom: 0.25em solid var(--highlight-color);
}

.menu--btn:hover {
  cursor: pointer;
}




/* ------------------------------------*\
    # popups
\*------------------------------------*/


.credits-window { 
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  mix-blend-mode: difference;
  color: cadetblue;
  z-index: 5;
  background-color: var(--secondary-color);
}

.credits-window--visible {
  display: flex;
}

.credits-window div{
  text-align: center;
  mix-blend-mode: difference;
  color: cadetblue;
}

.credits-window a {
    text-decoration: none;
    color: burlywood;
}

.popup-fallback {
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 5;
  position: absolute;
}

.popup-fallback--visible {
  display: inline;
}

.popup--visible {
  display: initial!important;
  z-index: 6;
}

.popup__words,
.popup__colors {
  display: none;
  padding: 10px;
  width: 400px;
  background-color: var(--main-color);
  height: 95vh;
  color: cadetblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.popup__control .close_btn {
  position: relative;
}

.popup__control {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  margin-bottom: 10px;
}

.popup__control div {
  margin: 10px auto;
}

.color-default-button {
  font-size: 1.2em;
  text-align: center;
}

.color-default-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.popup__colorpicker-opener {
  height: 40px;
  width: 40px;
  border-radius: 70px;
  position: relative;
  background-color: var(--highlight-color);
}

.popup__colorpicker-opener:after,
.popup__colorpicker-opener:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  background-color: var(--main-color)
}

.popup__colorpicker-opener:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.popup__colorpicker-opener:before {
   transform: translate(-50%, -50%) rotate(180deg);
}

.popup__header {
  border: 1px solid;
  text-align: center;
  font-size: 2em;
  width: 100%;
}


.tuning-area {
  transition: all 0.7s;
  height: 70vh;
  width: 100%;
  overflow-y: auto;
}

.opt-color {
  width: 90%;
  height: 2.2em;
  position: relative;
  background-color: green;
}

.tuning-area div {
  margin: 15px auto;
}

.tuning-area div:hover {
  cursor: pointer;
}

.tuning-area div:hover:after {
  content: 'delete';
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 3px;
  right: 0;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.colors-queue {
  background: linear-gradient(to right, var(--main-background) 70%, var(--main-color) 92%);
}

.contact__input{
  color: cadetblue;
  mix-blend-mode: difference;
  text-align: center;
  z-index: 5;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  padding: 12px 0;
  font-size: 1.3em;
  border-bottom: 2px solid gray;
  background: none;
  border-radius: 0;
  transition: all .15s ease;
}

.contact__input:focus{
  background: none;
  outline: none;
  border-bottom: 2px solid black;
}

.contact__input:focus  + .contact__border{
  transform: scaleX(1);
}

.contact__border{
  top: 95%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--highlight-color);
  transform: scaleX(0);
  transform-origin: center center;
  transition: all .15s;
}

.contact__container {
  box-sizing: border-box;
  position: relative;
}

.opt-word {
  border-bottom: 1px solid var(--highlight-color);
  text-align: center;
  font-size: 1.9em;
  margin: 15px auto;
  position: relative;
  width: 70%;
  width: 80%;
  margin: 15px auto;
  position: relative;
}

.words-queue div {
  width: 80%;
  margin: 15px auto;
  position: relative;
}